@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Outfit", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;

  color: #ffffff;
}

h2 {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;

  color: #8bacd9;
}

p {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.nftImageOverlay {
  transform: translate(-50%, -50%);
}

.imageBorder {
  border-radius: 50%;
  border: 1px solid white !important;
}
